<!--<div class="content">example works!</div>

<div class="content"><ng-content select= ".partie1"></ng-content></div>

entre partie
<div class="content"><ng-content select= ".partie2"></ng-content></div>

<div class="content"><ng-content select ="p.partie1"></ng-content> </div>

<div class="content"><ng-content select ="app-title"></ng-content> </div>

<div class="content"><ng-content select ="app-body"></ng-content> </div>-->

<!--
<div  #myview  >this a view</div>
<ng-content select=".mycontent" ></ng-content>
{{mycontent}}-->

<div>this a view {{title.label}}</div>

